Click==7.0
Flask==1.1.1
Flask-RESTful==0.3.7
gunicorn==20.1.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
setuptools=49.2.1
pytz==2019.2
six==1.12.0
Werkzeug==0.15.5
flask-sqlalchemy==2.4.0
rq==1.2.2
flask-expects-json==1.5.0